// Nodemailer
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
CONTACT_EMAIL=

// Cloudflare Turnstile
PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

// Supabase
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_PUBLISHABLE_KEY=