/* INPUTS, BUTTONS */
label {
    font-family: var(--font-sans);
    font-size: var(--size--1);
}

input, textarea {
    padding: 0.5em;
    border-radius: var(--border-radius);
    font-family: var(--font-sans);
    font-size: var(--size-0);
    border: 1px solid;
}